/*Ethan Dankwa*/
/*G3*/
 
body {
  background-color: black;
}
 

 
h1 {
  color: whitesmoke;
  margin-left: 20px;
}
 
h1 {
  font-size: 35px;
}



.chicken {
	color: whitesmoke;
	margin-left: 0px;
  margin-bottom: 50px;
}

.chicken {
	font-size: 20px;
}


 
h2 {
  color: whitesmoke;
  margin-left: 20px;
}
 
h2 {
  font-size: 20px;
}
 
 
h3 {
  color: whitesmoke;
  margin-left: -365px;
}
 
h3 {
  font-size: 35px;
}
 

 
h4 {
  color: whitesmoke;
  margin-left: 5px;
}
 
h4 {
  font-size: 20px;
}
 

 
h5 {
  color:whitesmoke;
  margin-left: -18px;
}
 
h5 {
  font-size: 20px;
}
 

 
table, th, td {
  border: 1px solid;
}



 h6 {
	color:whitesmoke;
	margin-left: -1px;
}

h6 {
	font-size: 18px;
}

.b5 {
	color:whitesmoke;
	margin-left: -57px;
	font-size: 20px;
}
	







.GPS {
  margin-top: -25px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

.turn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 23px;

}

.SAM {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 23px;

}

.Key {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 350px;
  margin-left: 10px;

}

.Key {
  color:rgb(52, 231, 7)
}

.turn {
  color:rgb(52, 231, 7)
}





div {
  width: 600px;
  padding: 10px;
  border: 3px solid rgb(52, 231, 7);
  margin: 0;
  float: left;
  height: 950px;
  margin-left: 20px;

}



div1 {
  width: 570px;
  height: 970px;
  border: 3px solid rgb(52, 231, 7);
  float: right;
  font-size: 20px;
}

div1:hover {
  transition: .2s;
  transform: scale(1.05);
}

#right_box {
  color: white;
}

#right_box {
  font-size: 20px;
}



#right_box_p2 {
  color: white;
  margin-top: 10px;
}

#right_box_p2  {
  font-size: 20px;
}



#right_box_p3 {
  color:white;
  margin-top: 10px;

}

#right_box_p3 {
  font-size: 20px;
}

/*left_box_p1*/

#left_box_p1 {
  color: white;
  margin-top: 10px;
}

#left_box_p1 {
  font-size: 20px;
}

/*left_box_p2*/

#left_box_p2 {
  color: white;
  margin-top: 10px;
}

#left_box_p2 {
  font-size: 20px;
}

/*left_box_p2*/

#left_box_p3 {
  color: white;
  margin-top: 10px;

}

#left_box_p3 {
  font-size: 20px;
}

#hope {
  color: white;
  margin-top: 100px;

}

#hope {
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}



.thumbnail:hover { 
  transition: .2s;
  transform: scale(1.05);
  
}

.thumbnail {
  background: black;
}

#copyright {
  margin-top: 8px;

}